/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    color: aliceblue;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 15px;
    background-image: url("../jpg/gray-background.jpg");
    background-repeat: no-repeat;
    background-color: gainsboro;
    background-size: cover;
    font-family: Tahoma;
    position: relative;
}

.footer {
    position:initial;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    height: 60px;
    line-height: 60px;
}


header {
    padding: 20px 40px;
    background-color:transparent;
    width: 100%;
    -webkit-transition: position 10s;
    -moz-transition: position 10s;
    -o-transition: position 10s;
    transition: position 10s;
}

section {
    height: 150vh;
    position: relative;
    top: 60px;
}

.fixed {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}
