@model ForumSystem.Web.ViewModels.Posts.PostDeleteViewModel

@{
    ViewData["Title"] = "Delete a post";
}


<h1>@ViewData["Title"]</h1>

<h3>Are you sure you want to delete this post?</h3>
<form method="post" asp-action="Delete" class="list-group col-sm-2">
    <h3>Title</h3>
    <h4>@Model.Title</h4>
    <hr/>
    <h3>Content</h3>
    <h4>@Model.Content</h4>
    <input type="submit" value="Delete" class="btn btn-danger btn-sm" />
</form>