@model ForumSystem.Web.ViewModels.Posts.PostEditInputModel
@{
    this.ViewData["Title"] = "Edit post";
}

<script src="/lib/tinymce/tinymce.min.js" type="text/javascript"></script>
<script type="text/javascript">
    tinymce.init({
        selector: "textarea",
        plugins: [
            "image paste table link code media"
        ]
    });
</script>

<h1>@this.ViewData["Title"]</h1>
<form asp-controller="Posts" asp-action="Edit" class="list-group col-lg-6">
    <div>
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="Content"></label>
        <textarea asp-for="Content"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <hr />
    <div class="center-button">
        <input onclick="window.history.back()" class="mt-25 submit-button menu-bg-forum text-white" type="button" value="Cancel">
        <input class="mt-25 submit-button menu-bg-forum text-white" type="submit" value="Edit">
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}